:root{
  --color-red: #FF6060;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  display: block;
  margin: 40px auto 0px;
  width: 95%;
  min-width: 320px;
}

@media screen and (max-width: 768px){
  body{
    margin-top: 20px;
  }
  footer{
    width: 105.8%;
    margin-left: -3%;
  }
}